<div class="card text-center mt-3 mb-0 footer-container">
    <div class="card-body footer">
        <div>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
        <b>&#169 TravelTide Private Limited</b>
        <div>
            <a href="/footer/privacy">Privacy</a>
            <a href="/footer/terms">Terms</a>
            <br>
            <a href="/footer/ContactUs">Help</a>
        </div>
    </div>
</div>