<% layout("/layouts/boilerplate") %>

<div class="container">
    <% for (let listing of allListings) { %>
        <div class="col-8 offset-3 mt-3 show-listing-div">
            <div class="card-show" style="width: 80%;">
                <a href="/listings/<%= listing._id %>">
                    <% if (listing.images && listing.images.length > 0) { %>
                        <img src="<%= listing.images[0].url %>" class="card-img-top" alt="Listing Image" style="height: 33vh">
                    <% } else { %>
                        <img src="/path-to-default-image.jpg" class="card-img-top" alt="No image available" style="height: 33vh">
                    <% } %>
                </a>
                <div class="card-body">
                    <h3><%= listing.title %></h3>
                </div>
                <a href="/listings/<%= listing._id %>" class="btn btn-info">Explore</a>
            </div>
        </div>
        <hr>
    <% } %>
</div>

