<% layout("/layouts/boilerplate") %>

<div class="container mt-3">
    <h2>Privacy Policy</h2>
    <br><br>

    <h3>Introduction</h3>
    <p>Welcome to TravelTide. We are committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website TravelTide. Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the site.</p>
    <br><br>

    <h3>Information We Collect</h3>
    <ul>
        
        <li><h6>Personal Data</h6>Personally identifiable information, such as your name, shipping address, email address, and telephone number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to us when you register with the Site or when you choose to participate in various activities related to the Site, such as online chat and message boards.</li>
        <br>
        <li><h6>Derivative Data</h6>Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, and the pages you have viewed directly before and after accessing the Site.</li>
        <br>
        <li><h6>Financial Data</h6>Financial information, such as data related to your payment method (e.g., valid credit card number, card brand, expiration date) that we may collect when you purchase, order, return, exchange, or request information about our services from the Site.</li>
        <br>
        <li><h6>Mobile Device Data</h6>Device information, such as your mobile device ID, model, and manufacturer, and information about the location of your device, if you access the Site from a mobile device.</li>
        <br>
        <li><h6>Third-Party Data</h6>Information from third parties, such as personal information or network friends, if you connect your account to the third party and grant the Site permission to access this information.</li>
    </ul>
</div>