<% layout("/layouts/boilerplate") %>

<div class="container mt-3">
    <h2>Terms and Conditions</h2>
    <br><br>

    <p>Welcome to TravelTide. These terms and conditions govern your use of our website located at TravelTide.com operated by TravelTide.</p>
    <p>Our Privacy Policy also governs your use of our Service and explains how we collect, safeguard, and disclose information that results from your use of our web pages. Please read it.</p>
    <p>Your agreement with us includes these Terms and our Privacy Policy ("Agreements"). You acknowledge that you have read and understood Agreements, and agree to be bound by them.</p>
    <p>If you do not agree with (or cannot comply with) Agreements, then you may not use the Service, but please let us know by submitting Contact us form below so we can try to find a solution. These Terms apply to all visitors, users, and others who wish to access or use Service.</p>

    <br><br>

    <ul>
        <li><h5>Communications</h5>
            By using our Service, you agree to subscribe to newsletters, marketing or promotional materials, and other information we may send. However, you may opt out of receiving any, or all, of these communications from us by following the unsubscribe link or let us know by submitting Contact us form below
        </li>
        <br>
        <li><h5>Purchases</h5>
            If you wish to purchase any product or service made available through the Service ("Purchase"), you may be asked to supply certain information relevant to your Purchase including, without limitation, your credit card number, the expiration date of your credit card, your billing address, and your shipping information.You represent and warrant that: (i) you have the legal right to use any credit card(s) or other payment method(s) in connection with any Purchase; and that (ii) the information you supply to us is true, correct, and complete.We may employ the use of third-party services for the purpose of facilitating payment and the completion of Purchases. By submitting your information, you grant us the right to provide the information to these third parties subject to our Privacy Policy.We reserve the right to refuse or cancel your order at any time for reasons including but not limited to product or service availability, errors in the description or price of the product or service, error in your order, or other reasons.We reserve the right to refuse or cancel your order if fraud or an unauthorized or illegal transaction is suspected.
        </li>
        <br>
        <li><h5>Refunds</h5>
            We issue refunds for Contracts within 3 days of the original purchase of the Contract.
        </li>
    </ul>
</div>